/*Header*/
header.dark{
    background-color: #0f0f0f;
    transition: 1s;
}
.top-header.dark{
    background-color: #0f0f0f;
    transition: 1s;
}
.movie-page.dark .similar-list a:hover{
    text-decoration: none;
    color:white;
}
.find-more:hover{
    background-color: #202121;
}
.low-header.dark{
    background-color: #0a0a0a;
    transition: 1s;
}
.low-header.dark button{
    background-color: #0a0a0a;
    transition: 1s;
}
.low-header.dark button:hover{
    background-color: #202121;
    transition: 1s;
}
.movie-page.dark .genre-names.disabled{
    background-color: #202121;
    transition: 1s;
    color: #8a8a8a;
}
.low-header.dark .language{
    background-color: #0a0a0a;
    transition: 0.2s;
}
.low-header.dark .language p:hover{
    background-color: #202121;
    transition: 1s;
}
.low-header.dark .genres p:hover{
    background-color: #202121;
    transition: 0.2s;
}
.low-header.dark .filter p:hover{
    background-color: #202121;
    transition: 1s;
}
.low-header.dark .genres{
    background-color: #0a0a0a;
    transition: 0.2s;
}
.low-header.dark .filter{
    background-color: #0a0a0a;
    transition: 0.2s;
}
.menu-img.dark{
    background-color: #202121;
    transition: 1s;
    border: 1px solid black;
}
.search.dark input{
    background-color: #0a0a0a;
    color: darkgrey;
    transition: 1s;
}
.search.dark input:hover{
    background-color: #0a0a0a;
    transition: 1s;
}
.search.dark{
    background-color: #0a0a0a;
    transition: 1s;
}
.account.dark{
    color: darkgrey;
    transition: 1s;
}
.movie-page.dark{
    background-color: #202121;
    transition: 1s;
}
.movie-page.dark .movie-card{
    background-color: #2e2e2e;;
    box-shadow: none;
    transition: 1s;
}
.movie-page.dark .movie-title{
    color: grey;
    transition: 1s;
}
.movie-page.dark .movie-description{
    color: darkgrey;
    transition: 1s;
}
.movie-page-header.dark{
    background-color: #202121;
    transition: 1s;
}
.movie-page.dark .page-selector{
    box-shadow: none;
    background-color: #2e2e2e;
    transition: 1s;
}
.movie-page.dark footer{
    background-color: #2e2e2e;;
    transition: 1s;
}
.movie-page.dark .movie-all{
    background-color: #2e2e2e;
    box-shadow: none;
    transition: 1s;
    color: darkgrey;
}
.movie-page.dark .movie-all-info{
    background-color: #202121 ;
    transition: 1s;
}
.movie-page.dark .movie-all-title{
    color: gray;
}
.pop-up-menu.shown.dark{
    background-color: #0f0f0f;
    transition: 1s;
}.pop-up-menu.hidden.dark{
     background-color: #0f0f0f;
     transition: 1s;
 }
.pop-up-menu.shown.dark .find-element{
    border-bottom: 1px solid #202121;
    transition: 1s;
}
.pop-up-menu.dark .find-element:hover{
    background-color: #202121;
    transition: 1s;
}
.person-info.dark{
    box-shadow: 0 0 0 0 transparent;
    background-color: #2e2e2e;
}

