.person-image.hidden{
    position: absolute;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    transition: 0.5s;
    bottom: 80px;
    aspect-ratio: 1/1;
}
.movie-all-similar h3{
    margin: 30px 0 15px  ;
}
.similar-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.similar-list a{
    text-decoration: none;
    color:#8a8a8a;
}
.similar-list a:hover{
    text-decoration: none;
    color:black
}
.genre-link{
    text-decoration: none;
}
.movie-all-producers{
    display: flex;
    flex-wrap: wrap;
}
.movie-all-producers p{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.similar-movie{
    width: 17%;
    margin: 0 0 20px 0;
    overflow: hidden;
}
.similar-movie p{
    margin: 0;
    font-size: 14px;
}
.person-image.shown{
    height: 100px;
    position: absolute;
    bottom: 70px;
    aspect-ratio: 1/1;
    transition: 0.5s;
}
.info-title p{
    font-weight: bold;

}
.movie-all-actors{
    width: 50%;
    margin: 0;
}
.movie-all-runtime{
    display: flex;
}
.movie-all-runtime p{
    width: 50%;
}
.person-image img{
    height: 150px;
}
.person-name{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.person-name span{
    text-decoration: underline;
}
.person-name:hover{
    cursor: pointer;
    color: #8a8a8a;
}
.movie-info-page{
    min-height: calc(100vh - 190px);
}
.movie-all-cast{
    display: flex;
    flex-wrap: wrap;
}
.movie-all{
    margin: 0 auto 20px;
    width: 70%;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 7px 1px #757575;
    height: 100%;
    transition: 1s;
}
.movie-all-trailer{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.movie-all-trailer-div{
    display: flex;
    flex-direction: column;
    margin: 20px 50% 0 0;
}
.movie-all-trailer-div h3{
    margin: 0 0 15px 0;
}
.movie-all-trailer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.movie-all-poster{
    right: auto;
    left: auto;
    z-index: 1;
    height: fit-content;
}
.movie-all img{
    width: 100%;
}
.movie-all-info{
    display: flex;
    position: relative;
    transition: 1s;
}
.movie-all-info p{
    margin: 5px 0
}
.movie-all-details{
    padding: 20px 10px 20px 40px ;
    width: 56%;
}
.movie-all-ratings p{
    margin: 0;
}
.movie-all-ratings{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.movie-info-rating{
    margin-left: 5px;
    display: flex;
    align-items: center;

}
.movie-all-genres{
    display: flex;
    justify-content: space-between;
}
.movie-all-genres p{
    flex: 50%
}
.movie-all-added-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-all-added-info p{
    flex: 50%;
    justify-content: end;
}
.movie-all-genres{
    display: flex;
    justify-content: space-between;
}
.movie-all-original{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-all-original p{
    flex: 50%;
    justify-content: end;
}
.movie-all-description{
    margin-top: 20px;
    width: 50%;
}
.movie-all-description p{
    margin: 0;
}


@media screen and (max-width: 1000px) {
    .movie-all{
        width: 80%;
    }
    .movie-all-trailer{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .movie-all-trailer iframe{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .movie-all-trailer-div{
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }
    .movie-all-description{
        margin-top: 20px;
        width: 100%;
    }

}
@media screen and (max-width: 750px) {
    .movie-all-info{
        display: block;
    }
    .similar-movie{
        width: 45%;
    }
    .movie-all-details{
        padding: 0 20px 20px;
        width: 100%;
    }

    .movie-all-trailer{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .movie-all-trailer iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-width: 400px){
    .movie-all-genres{
        display: block;
    }
    .movie-all-added-info{
        display: block;
    }
    .movie-all-original{
        display: block;
    }
    .movie-all-genres .info-title p{
        font-weight:bold;
        padding: 10px 0 0;
    }
    .movie-all-added-info .info-title{
        font-weight:bold;
        padding: 10px 0 0;
    }
    .movie-all-original .info-title{
        font-weight:bold;
        padding: 10px 0 0;
    }
}