body {
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
html{
  background-color: #F0EFEE;
  scroll-behavior: smooth;
}

.filter-button{
  width: fit-content;
  background-color: #f5f4f2;
  transition: 1s;
  color: #8a8a8a;
}
.filter-button:hover{
  background-color: #e2e2e2;
  transition: 1s;
}
.filter.hidden{
  background-color: transparent;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.filter p{
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.filter p:hover{
  cursor: pointer;
}
.filter.shown{
  top: 100px;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  background-color:#FFFFFF;
}
.genres.hidden{
  background-color: transparent;
  height: 0;
  overflow: hidden;
  position: absolute;

}

.genres p{
  width: 23.5%;
}
.genres p:hover{
  cursor: pointer;
}
.genres.shown{
  top: 100px;
  height: fit-content;
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  background-color:#FFFFFF;
  padding: 0 20px;
}
.language.hidden{
  height: 0;
  overflow: hidden;
  position: absolute;
}
.language.shown{
  display: flex;
  top: 100px;
  height: 32px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  background-color:#FFFFFF;
  left: 15%;
}
.language p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
  padding: 0 10px;
}
.language-button{
  width: fit-content;
  background-color: #f5f4f2;
  transition: 1s;
  color: #8a8a8a;
}
.language-button:hover{
  background-color: #e2e2e2;
  transition: 1s;
}
.language p:hover{
  cursor: pointer;
}
.genres-language-filter .genre-names{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.genre-names.disabled:hover{
  cursor: default;
  background-color: #FFFFFF;
}
.genre-names.disabled{
  color: lightgray;
  cursor: default;
  background-color: #FFFFFF;
}
.find-element{
  height: 59px;
  transition: 1s;
  border-bottom: 1px solid grey;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination{
  display: flex;
  justify-content: center;
}
.MuiPagination-root{
  margin: 20px 0;
}
.MuiPagination-ul button{
  color:#8a8a8a;
}

.find-poster{
  height: 50px;
  margin: 5px;
  position: absolute;
}
.find-info{
  margin: 0 50px 0 50px;
}
.find-info p{
  padding: 0;
}
.find-rating{
  margin-right:10px ;
  display: flex;
  justify-content: center;
  align-items: center;

}

#root{
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
.link-button{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  width: 50px;
}
.movie-list a{
  text-decoration: none;
}
/*HeaderComponent*/
header{
  background-color: #FFFFFF;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 1s;
}
.top-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #FFFFFF;
  transition: 1s;
  height: 68px;
}

.low-header{
  background-color: #f5f4f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding-right: 15%;
  padding-left: 15%;
  color: #8a8a8a;
}
.genres-language-filter p:hover{
  background-color: #e2e2e2;;
  transition: 1s;
}
.low-header button{
  border: 0;
  height: 32px;
}
.low-header .genres-button{
  border: 0;
  background-color: #f5f4f2;
  transition: 1s;
  color: #8e8e8e;
}
.low-header .genres-button:hover{
  background-color: #e2e2e2;
  transition: 1s;
}
.genres-language-filter{
  width: fit-content;
  max-height: 32px ;
  overflow: hidden;
  min-width: 0;
  display: flex;
  justify-content: space-between;

}
.genres-language-filter p{
  margin: 0;
  transition: 1s;
}

.pop-up-menu.hidden{

  background-color: #FFFFFF;
  position: absolute;
  width: 70%;
  top: 100px;
  left: 100%;
  transition: 0.6s;
  overflow: hidden;
  max-height: 704px;
}
.pop-up-menu.shown{
  background-color: #FFFFFF;
  position: absolute;
  width: 70%;
  top: 100px;
  left: 15%;
  transition: 0.6s;
  overflow: hidden;
  max-height: 704px;
}
.pop-up-menu ::-webkit-scrollbar {
  display: none;
}
.pop-up-menu p{
  margin: 5px 10px;
}
.pop-up-menu a{
  text-decoration: none;
  color:  #8a8a8a;
}

.find-element:hover{
  background-color: lightgray;
  transition: 0.5s;
}
.header-imgs{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-page{
  background-color: #F0EFEE;
  transition: 1s;
}
.movie-page-header{
  background-color: #F0EFEE;
  height: 150px;
  width: 100%;
  transition: 1s;
}
footer{
  background-color: #FFFFFF;
  color: #8a8a8a;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 1s;
}
.logo-img{
  width: 155px;
  height: 52px;
}
.menu-img{
  background-color: #F7F6F6;
  border: solid 1px RGBA(231, 231, 231, 1);
  border-radius: 10px;
  width: 49px;
  height: 35px;
  min-width: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s;
  margin-right: 102px;
}
.menu-img:hover{
  cursor: pointer;
}
.lng-img{
  background-color: #F7F6F6;
  border: solid 1px RGBA(231, 231, 231, 1);
  border-radius: 10px;
  width: 49px;
  height: 35px;
  min-width: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s;
}
.lng-img:hover{
  cursor: pointer;
}
/*.menu-img:hover .line{*/
/*  margin-left: -78px;*/
/*  transition: 1s;*/
/*}*/
.line{
  left:12px;
  width: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
.line.dark{
  margin-left: -78px;
}
.light-img{
  height: 22px;
  transition: 1s;
}

.dark-img{
  height: 20px;
  transition: 1s;
}

.lng-line{
  left:12px;
  width: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
.lng-line.dark{
  margin-left: -78px;
}
.en-img{
  height: 22px;
  transition: 1s;
}
.uk-img{
  height: 20px;
  transition: 1s;
}
.search{
  height: 32px;
  display: flex;
  align-items: center;
  transition: 1s;
  background-color: #f5f4f2;
}
.search input{
  height: 100%;
  width: 150px;
  transition: 1s;
  padding-left: 10px;
  padding-right: 15%;
  border: 0;
  background-color: #f5f4f2;
}
.search input:focus{
  outline: none;
  width: 100vw;
  transition: 1s;
}
.search .shape-img{
  width: 18px;
  height: 18px;
  transition: 1s;
}
.account{
  width: 151px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #8a8a8a;
  font-size: 15px;
  transition: 1s;
}
.account-img{
  border-radius: 50%;
  height: 38px;
  margin-right: 10px ;
}
.account p{
  margin: 0
}
.page-info{
  padding-bottom: 0;
}
.page-selector{
  margin: 20px auto;
  width: 70%;
  height: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  color:#8a8a8a;
  font-size: 15px ;
  box-shadow: 0 0 7px 1px #757575;
  position: relative;
  align-items: center;
  transition: 1s;
}
.page-selector button:disabled{
  font-weight: normal;
}
.page-selector button:disabled:hover{
  background-color: transparent;
}
.page-selector button{
  color: #8a8a8a;
  border: none;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  transition: 0.5s;
}
.page-selector button:hover{
  transition: 0.5s;
  background-color: #e3e3e3;

}
.left-button{
  left: 20px;
  height: 30px;
}
.right-button{
  right: 20px;
  height: 30px;
}

/*MoviePage*/
.movie-list{
  display: grid;
  width: 70vw;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 2.66666%;
  grid-row-gap: 20px;
  /*grid-template-rows: auto;*/
  margin: 0 auto 0 ;
}
.movie-card{
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 7px 1px #757575;
  transition: 1s;

}
.movie-card:hover{
  cursor: pointer;
}
.poster-div{

}
.poster-img{
  width: 100%;
}
.image-div{

}
.page-input{
  position: relative;
}

.location-img{
  width: 10px;
  height: 13px;
}
.movie-title{
  display: inline-block;
  color: #757575;
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-badges{
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
}
.movie-info{
  padding: 15px;
}
.movie-description{
  margin: 15px 0 ;
  color: #B4B4B4;
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden ;
  display: inline-block;
}
/*Genre Badge Component*/

.movie-badges .badge{
  width: auto;
  font-size: 10px;
  margin: 0 1px 2px;
  color: #D3D2D2
}
/*Stars Rating Component*/
.movie-rating{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 60%;
  left: 20%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1500px){
  .pop-up-menu.hidden{
    background-color: #FFFFFF;
    position: absolute;
    width: 70%;
    top: 100px;
    left: 100%;
    transition: 0.6s;
    overflow: hidden;
    max-height: 704px;
  }
  .pop-up-menu.shown{
    background-color: #FFFFFF;
    position: absolute;
    width: 70%;
    top: 100px;
    left: 15%;
    transition: 0.6s;
    overflow: hidden;
    max-height: 704px;
  }
}
@media screen and (max-width: 1000px)  {
  .movie-info{
    padding: 10px;
  }
  .movie-title h4{
    font-size: 15px;
  }
  .movie-title{
    height: 18px;
  }
  .movie-badges{
    margin-top: 0;
    height: 34px;
  }
  .movie-badges .badge{
    width: auto;
    font-size: 60%;
    margin: 0 1px 1px;
    color: #D3D2D2
  }
  .movie-description{
    font-size: 11px;
  }
  .page-selector{
    font-size: 11px ;
    height: 20px;
  }
  .left-button{
    left: 30px;
    height: 20px;
  }
  .right-button{
    right: 30px;
    height: 20px;
  }

  .pop-up-menu.hidden{

    background-color: #FFFFFF;
    position: absolute;
    width: 70%;
    top: 100px;
    left: 100%;
    transition: 0.6s;
    overflow: hidden;
    max-height: 704px;
    font-size: 13px;
  }
  .pop-up-menu.shown{
    background-color: #FFFFFF;
    position: absolute;
    width: 70%;
    top: 100px;
    left: 15%;
    transition: 0.6s;
    overflow: hidden;
    max-height: 704px;
    font-size: 13px;
  }
}
@media screen and (max-width: 750px) {
  .search{
    width: 49px;
    min-width: 49px;
    height: 35px;
    display: flex;
    justify-content: center;
  }
  .shape-img{
    width: 22px;
    height: 22px;
    margin-right: 3px;
  }
  .movie-list{
    display: grid;
    width: 70vw;
    grid-template-columns: 100%;
    grid-column-gap: 2.66666%;
    grid-row-gap: 20px;
    /*grid-template-rows: auto;*/
    margin: 0 auto 0 ;
  }
  .movie-title{
    height: 40px;
  }
  .movie-title h4{
    font-size: 30px;
  }
  .movie-badges{
    margin-top: 0;
    height: 45px;
  }
  .movie-badges .badge{
    font-size: 80%;
  }
  .movie-description{
    margin: 5px 0 30px 0;
    font-size: 14px;
    height: 150px;
    padding: 0 10px;
  }
  .movie-rating{
    margin-top: 40px;
  }
  .page-selector{
    height: 60px;
    font-size: 15px;
  }
  .page-selector a{
    text-align: center;
    font-size: 15px;
  }
  .pop-up-menu{
    height: 0;
    background-color: #FFFFFF;
    position: absolute;
    width: 100vw;
    top: 100px;
    transition: 0.6s;
    overflow: hidden;
    left: 0;
  }
  .search{
    position: static;
  }
  .search input{
    position: absolute;
    width: 100%;
    left:0;
    right:0;
    height: fit-content;
    border-radius: 0;
  }
  .search input.hidden{
    top: -30px;
  }
  .search input.shown{
    top: 100px;
  }
  .small-search{
    height: 35px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .search button{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F6F6;
    border: solid 1px RGBA(231, 231, 231, 1);
    border-radius: 10px;
  }
  .MuiListItem-root{
    position: absolute;
    top:10px
  }
}